MODEL_NAME=BAAI/bge-m3
GPU_BATCH_SIZE=32
DEVICE=cuda
USE_FP16=true
ATTN_IMPLEMENTATION=sdpa   # Options: "sdpa", "flash_attention_2", or "eager"
CHROMA_PATH=/mnt/chroma
EMBEDDING_API_KEY=your_secret_api_key_here

