VOYAGE_API_KEY=your_voyage_api_key_here
VOYAGE_MODEL_ID=voyage-4-lite
VOYAGE_INPUT_TYPE=document
EMBEDDING_DIMENSIONS=1024
CHROMA_PATH=/mnt/chroma
EMBEDDING_API_KEY=your_secret_api_key_here
HOST=0.0.0.0
PORT=8000


